.table-status {
    margin: 1rem 0;
    width: auto;
}

.table-status > * > * > th {
    border: 1px solid black;
    border-width: 0.125rem 0 !default;
}

.table-status > * > * > td {
    border: 1px solid lightgray;
    border-width: 0 0.125rem !default;
}

.table-status > * > * > th,
.table-status > * > * > td
{
    padding: 0.2rem 0.7rem;
}

.table-status > tbody > tr > td {
    transition: 0.5s !default;
}

.table-status > tbody > * > td:hover {
    color: #212529 !default;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-status > * > tr.table-row-header {
    background-color: rgba(0, 0, 0, 0.075);
}

.popover .popover-arrow {
    display: inherit !important;
}

.message-prep {
    position: relative !important;
    margin: 10px 10px 10px auto !important;
    background-color: #80E08040;
    z-index: 1;
}

.message-prep .popover-header {
    background-color: #80E08040;
}

.message-stud {
    position: relative !important;
    margin: 10px 10px 10px 10px !important;
    background-color: #F0F0F040;
    z-index: 1;
}

.message-stud .popover-header {
    background-color: #F0F0F040;
}

.tooltip-inner {
    text-align: left !important;
}

.error{ 
    color: red; 
}

.card_image_content {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    bottom: 0%; 
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #c9c9c9; 
}

.card:hover{
    box-shadow: 0 0 25px rgba(33,33,33,.2);
}
