p{
    font-size: 2em;
}

progress{
    height: 10;
    width: 100%;
    border-radius: 0ch;
    padding-bottom: 0%;
    background: #eeeeee;
    color: #039603;
}

/* For Firefox */
progress::-moz-progress-bar {
    background: #eeeeee;
}

/* For Chrome or Safari or Opera*/
progress::-webkit-progress-bar {
    background: #eeeeee;
}

progress::-webkit-progress-value {
    background: #039603 !important;
}

.col-3{
    padding-right: 5px;
    padding-left: 5px;
    column-gap: 30px;
    height: 230px;
}

.popover-message-message-stud{
    box-shadow: 0 0 26px rgb(221 221 221 / 84%);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 15px;
    height: 100%;
}

.d-flex-justify-content-between{
    text-align: center;
}









