* {
    box-sizing: border-box;
}

body {
    background: #f8f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.base-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px #000 solid;
    border-top: none;

    color: #000;
}

/* main */

.task-block {
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.task-block .title-2 {
    width: 100%;
    margin-bottom: 20px;
}

.task-block--wrapper {
    border: 1px #000 solid;
    padding: 10px 10px 10px 20px;
    width: calc(100% - 300px);
}

.task-block--wrapper > div {
    margin: 1rem 0; 
}

.task-block--ref {
    text-decoration: none;
    color: #1266f1;
}
.task-block--ref i {
    margin-right: 5px;
    color: #000;
}

.task-block--wrapper-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.task-block--wrapper-2 .download-button {
    display: inline-block;
    border: 1px #000 solid;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s ease;

    font-size: 18px;
    text-decoration: none;
    color: #000;
}
.task-block--wrapper-2 .download-button:hover {
    background: #fffbfb;
}
.task-block--wrapper-2 .download-button i {
    margin-right: 8px;
}

.status {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    padding: 10px 0 0 20px;
}

.status .check-mark {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 5px;
    background: #ada8a8;
    margin-right: 3px;
}
.status .check-mark i {
    color: #fff;
    font-size: 20px;
}

.status .code-redactor-button {
    display: inline-block;
    border: 1px #000 solid;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
    
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
.status .code-redactor-button:hover {
    background: #fffbfb;
}
.status .code-redactor-button i {
    margin-right: 5px;
}

/* main - chat */

#exit {
    color: #0000ff;
    text-decoration: none;
  }
  
#exit:hover {
    text-decoration: underline;
}
  
#loginform {
    margin: 0 auto;
    padding: 18px 0 25px 0;
    background: #f8f4f4;
    width: 504px;
    border: 1px solid #000000;
}   
  
#wrapper {
      
}

form, .welcome, .logout {
    margin: 0;
    padding: 0;
}

#loginform p {
    margin: 5px;
}
  
#chatbox {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.msgln {  
    width: 70%;
    margin: 15px 0 15px 20px;
}

.msgln-message {
    border: 1px #000 solid;
    border-radius: 5px;
    padding: 10px;
}

.msgln-date {
    margin-left: 5px;
    margin-top: 5px;
}


.msg-form {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#usermsg {
      border: 1px #000 solid;
    padding: 8px 0 8px 5px;
    margin: 0 10px;
    flex-grow: 1;
    width: 200px;
    font-size: 14px;
}

#submitmsg {
    padding: 8px 20px;
    border: 1px solid #000;
    border-radius: 3px;
    background: none;
}

#upload-container {
    margin: 10px 0;
    padding: 0 10px;
}

#file-input {
    margin-left: 10px;
    
}

.error {
  color: #ff0000;
}

#menu {
  padding: 12.5px 25px 12.5px 25px;
}

.welcome {
  float: left;
}

.logout {
  float: right;
}


/* other */

.clear {
    clear: both;
}

@media (max-width: 960px) {
    .task-block--wrapper { width: 100%; }
    .status {
        margin-top: 10px;
        flex-flow: row;
        width: 100%;
    }
}

@media (max-width: 760px) {
    .task-block--wrapper-2 {
        flex-flow: column;
    }
    .task-block--wrapper-2 > div {
        margin-bottom: 1rem;
    }
}