/*Danya*/

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #f8f4f4;
	font-size: 16px;
}

.container {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px #000 solid;
}

form, p, span {
  margin: 0;
  padding: 0;
}

/* Eduard */
/*header */ 

#base-header {
    padding: 15px 60px 15px 15px;
}

.return-back {
    display: flex;
    align-items: center;
    float: left;
}

.return-button {
    display: inline-block;
    border: 1px #000 solid;
    padding: 3px;
    margin-right: 5px;
    background: #fff;

    line-height: 24px;
    font-size: 24px;
    cursor: default;
    color: #000;
    text-decoration: none;
}


.user-data {
    display: flex;
    align-items: center;
    float: right;
}

.user-data img {
    height: 30px;
    margin-right: 3px;
}

/* main */

.task-block {
    padding: 0 15px 25px 15px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.task-block .title-2 {
    flex-basis: 100%;
}

.requirements {
    border: 1px #000 solid;
    padding: 0 0 10px 20px;
    width: 70%;
    box-sizing: border-box;
}

.task-block .download-button {
    display: block;
    border: 2px #000 solid;
    padding: 10px 15px;
    border-radius: 10px;
    float: right;
    margin-right: 15px; 

    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.status {
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 25%;
    box-sizing: border-box;
    padding-top: 10px;
}

.task-block .code-redactor-button {
    display: inline-block;
    border: 2px #000 solid;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

/* other */

.clear {
    clear: both;
}

.inline-block {
    display: inline-block;
}

a {
    color: #0000ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #loginform {
    margin: 0 auto;
    padding: 18px 0 25px 0;
    background: #f8f4f4;
    width: 504px;
    border: 1px solid #000000;
  }
  
  #wrapper {
      
  }
  
  /* #loginform p {
    margin: 5px;
  } */
  
  #chatbox {
      margin: 10px 0;
      padding-bottom: 10px;
      height: 700px;
        overflow-y: auto;
      border-top: 1px black solid;
      border-bottom: 1px black solid;
  }
  
  .msgln {
      border: 1px #000 solid;
      padding: 20px;
      width: 700px;
      margin: 10px 0 10px 20px;
      border-radius: 10px;
  }
  
  .msg-form {
      display: flex;
      align-items: center;
      padding: 0 10px;
  }
  
  .input-msg {
        border: 1px #000 solid;
      padding: 8px 0 8px 5px;
      margin: 0 10px;
      flex-grow: 1;
      width: 200px;
      font-size: 14px;
  }
  
  .submit-button {
      padding: 8px 20px;
      border: 1px solid #000;
      border-radius: 3px;
      background: none;
  }
  
  .upload-form {
      margin: 10px 0;
      padding: 0 10px;
  }
  
  .input-file {
      margin-left: 10px;
      
  }
  
  
  .error {
    color: #ff0000;
  }
  
  #menu {
    padding: 12.5px 25px 12.5px 25px;
  }
  
  .welcome {
    float: left;
  }
  
  .logout {
    float: right;
  }
  